:root{
    --font-size: 1em;
    --width: 60%;
    --nav: #272727;
    --secondarycolor: #7f7f7f;
    --link: #1f66e5;
    --linkhover: #1347a4;
}

body {
    font-family: sans-serif;
    font-size: var(--font-size);
    margin: 0;
    width: 100%;
    text-align: center;
    min-width: 350px;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: var(--nav);
}

nav {
    padding: 1px;
    margin: 0 auto;
    background: black;
    color: white;
    width: 100%;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navlist {
    margin: 0;
    text-align: justify;
    cursor: pointer;
}

.navlist a{
    text-decoration: none;
    color: white;
    padding: 1em;
}

.navlist a:hover {
    background-color: var(--nav);
    color: white;
    transition-duration: 0.25s;
}

.right {
    float: right;
    margin: 0 1em;
}

p.left {
    float: left;
    margin-left: 2em;
    font-weight: bold;
}

section {
    min-height: 300px;
    margin: 2em auto;
    width: var(--width);
}

#lista{
    display: none;
}

#aboutme {
    padding: 1em;
}

#aboutme p{
    width: 50%;
    margin-left: 25%;
}

#aboutme a {
    text-decoration: none;
    color: var(--link);
}

#aboutme a:hover {
    color: var(--linkhover);
}

#projects {
    padding: 1em;
    text-decoration: none;
    width: var(--width);
}

.subtitle{
    color: var(--secondarycolor);
    font-size: 1em;
}

#ulProjects {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    list-style-type: none;
    gap: 1em;
    padding: 0;
}

.projectsText {
    text-align: justify;
    margin-top: 0.5em;
    min-height: 100px;
}

.invisible {
    display: inline-grid;
}

.titleProject{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#projects a{
    text-decoration: none;
    color: var(--link);
}

#projects a:hover{
    color: var(--linkhover);
}

footer {
    background: black;
    padding: 1em;
    font-size: 0.75em;
    color: white;
    margin-bottom: 0;
}

#aboutme img {
    border-radius: 50%;
}

li img{
    margin-top: 0;
    height: 80px;
}

hr {
    border: 1px solid #595959;
    border-radius: 0.2em;
    width: var(--width);
}

header{
    padding: 5em;
}

header.h1{
    margin-bottom: 0.2em;
}

@media only screen and (max-width: 760px){
    :local{
        --font-size: 1.2em;
        --width: 70%;
    }

    body{
        font-size: var(--font-size);
    }

    #ulProjects {
        display: list-item;
    }

    #icon{
        width: 1em;
        padding: 1em;
        margin: 0 2em 0 0;
    }

    #lista{
        display: initial;
        float:right;
        text-align: right;
    }

    .cosillas{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background: black;
        align-content: center;
        padding: 0;
    }

    .navlist{
        gap: 1em;
        padding: 1em;
    }

    .visible{
        display: list-item;
    }

    .invisible{
        display: none;
    }

    .left{
        text-align:left;
    }

    .right{
        padding: 1em;
        margin: 0;
        float: none;
    }

    #aboutme img {
        width: 160px;
    }

    hr{
        width: var(--width);
    }

    #projects{
        width: var(--width);
    }
}
