body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
    margin: 0;
}

main {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 1em;
    max-width: 1280px;
}

p {
    margin: .5em 0;
}

ul {
    margin: 0;
}